<mat-card>
  <form [formGroup]="AircraftForm" (ngSubmit)="Save()" #f="ngForm">

    <div class="row">

      <div fxLayout="row" style="width: 100%">
        <input type="hidden" formControlName="id">

        <mat-form-field fxFlex="50" appearance="outline" style="width: 49%;margin-right: 3px;">
          <mat-label>modelName</mat-label>
          <input matInput formControlName="modelName" placeholder="modelName" name="modelName">
          <div *ngIf="submitted && AircraftForm.controls.modelName.errors" class="text-danger">
            <div *ngIf="AircraftForm.controls.modelName.errors.required">Name is required</div>
          </div>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50" style="width: 50%;">
          <mat-label>serialNumber</mat-label>
          <input formControlName="serialNumber" matInput placeholder="serialNumber" name="serialNumber">
          <div *ngIf="submitted && AircraftForm.controls.serialNumber.errors" class="text-danger">
            <div *ngIf="AircraftForm.controls.serialNumber.errors.required">Contact is required</div>
          </div>
        </mat-form-field>
      </div>


      <div fxLayout="row" style="width: 100%">
        <mat-form-field fxFlex="50" appearance="outline" style="width: 49%;margin-right: 3px;">
          <mat-label>registrationNumber</mat-label>
          <input formControlName="registrationNumber" matInput placeholder="registrationNumber"
            name="registrationNumber">
          <div *ngIf="submitted && AircraftForm.controls.registrationNumber.errors" class="text-danger">
            <div *ngIf="AircraftForm.controls.registrationNumber.errors.required">Email is required</div>
          </div>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" style="width: 50%;">
          <mat-slide-toggle (change)="changeStatus($event)">Registration
            Status</mat-slide-toggle>
          <textarea matInput hidden formControlName="registrationStatus"></textarea>
          <div *ngIf="submitted && AircraftForm.controls.registrationStatus.errors" class="text-danger">
            <div *ngIf="AircraftForm.controls.registrationStatus.errors.required">Address is required</div>
          </div>
        </mat-form-field>
      </div>

      <div fxLayout="row" style="width: 100%">
      </div>
      <div fxLayout="row" style="text-align: center;">
        <button mat-stroked-button color="success" style="margin-right: 3px;" type="submit">Save</button>
        <button mat-stroked-button color="accent" (click)="resetFrom()" type="button">Cancel</button>
      </div>
      <!--<div fxLayout="row" style="text-align: center;">
        <button mat-stroked-button color="success" style="margin-right: 3px;" type="submit">Save</button>
        <button mat-stroked-button color="accent" (click)="reset(f)" type="button">Cancel</button>
      </div>-->
    </div>

  </form>
</mat-card>