<div class="limit">
  <div class="login-container">

    <div class="bb-login">
      <form class="bb-form validate-form" (ngSubmit)="onSubmit()" #f="ngForm">
        <span class="bb-form-title p-b-26"> Welcome </span> <span class="bb-form-title p-b-48"> <i class="mdi mdi-symfony"></i> </span>
        <br />
        <br />
        <br />
        <span class="bb-form-title p-b-26"> please login to BesLogic </span> <span class="bb-form-title p-b-48"> <i class="mdi mdi-symfony"></i> </span>
        <br />
        <br />
        <br />
        <div class="login-container-form-btn">
          <div class="bb-login-form-btn">
            <div class="bb-form-bgbtn"></div> <button mat-raised-button class="bb-form-btn" type="submit"> Login </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
